---
# Variables
title: Samsung Internet Developer Hub
layout: index
---

<div id="row-1">
	<div class="widget" id="articles">
	{% for post in site.posts %}
		<div class="feed-item">
		{% if post.link %}
			<h2><a class="article-link" href="{{ post.link }}" target="_blank" rel="noopener">{{ post.title }}</a> <span title="External Link" style="font-size: 80%; color: #aaa;">{% if post.external %}{{ post.external }} {% endif %}</span></h2>
				<article class="feed-item_long-desc"><p>{{ post.long_desc }}</p></article>
				<article class="feed-item_short-desc"><p>{{ post.short_desc }}</p></article>
			<time>{{ post.date | date_to_string }}</time>
		{% else %}
			<h2><a class="article-link" href="{{ post.url }}">{{ post.title }}</a></h2>
				<article class="feed-item_long-desc">{% if post.long_desc %}{{ post.long_desc }}{% else %}{{ post.excerpt }}{% endif %}</article>
				<article class="feed-item_short-desc"><p>{{ post.short_desc }}</p></article>
			<time>{{ post.date | date_to_string }}</time>
		{% endif %}
		</div>
	{% endfor %}
	</div>
	<div id="widgets">
		<div class="widget">Upcoming Events</div>
		<div class="widget">Twitter Widget</div>
	</div>
</div>
<div class="widget" id="feeds">
	<div class="feed-item">
		<h2>Lorem Ipsum</h2>
		<p>Lorem ipsum dolor sit amiet, et quiam celery asperagus, and github pages.</p>
	</div>
	<div class="feed-item">
		<h2>Lorem Ipsum</h2>
		<p>Lorem ipsum dolor sit amiet, et quiam celery asperagus, and github pages.</p>
	</div>
	<div class="feed-item">
		<h2>Lorem Ipsum</h2>
		<p>Lorem ipsum dolor sit amiet, et quiam celery asperagus, and github pages.</p>
	</div>
</div>