{{#items}}
<div class="feed-item">
	<div class=></div>
	<h2><a href="{{link}}">{{title}}</a></h2>
	<p>{{#grabimage}}{{{description}}}{{/grabimage}}{{#excerpt 80}}{{{description}}}{{/excerpt}}</p>
</div>
{{/items}}
