.event-well{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.event-well-item{
    max-width: 40rem;
}

.sponsor-logo{
    max-height: 4rem;
    margin: .5rem;
}