.event-well{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.event-well-item{
    max-width: 20em;
}

.sponsor-logo{
    max-width: 5em;
}