---
---


* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	height: 100%;
}

body {
	display: flex;
	margin: 0;
	flex-direction: column;
	font-family: 'Samsung One', Helvetica, Arial, sans-serif;
}

header h1 {
	padding-left: 0.2em;
}

header ul {

    margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;

	li {
		list-style: none;
		margin: 0;
		display: inline-block;
		background: cornsilk;
		padding: 1em;
		width: 100%;
	}
}


@media (min-width: {{ site.breakpoint }}) {

	header h1 {
		padding-right: 2em;
	}

	header ul {
		flex-direction: row;
		flex-wrap: wrap;
		width: auto;
	}
}
