---
---


* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	height: 100%;
	background-image: url(/images/sPatternDark.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

body {
	display: flex;
	margin: 0;
	flex-direction: column;
	font-family: 'Samsung One', Helvetica, Arial, sans-serif;
}

a:link, a:active, a:visited{
	color: #4c3f7f;
	text-decoration: none;
}

a:hover{
	color: #987FFF;
	text-decoration: underline;
}

header h1 {
	padding-left: 0.3em;
}

header a:link, a:active, a:visited{
	color: #FFF;
	text-decoration: none;
}

header a:hover{
	color: #B5A5FE;
	text-decoration: underline;
}

header ul {

    margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;
	background: #231F20;
	color: #FFF;

	li {
		list-style: none;
		margin: 0;
		display: inline-block;
		padding: 1em;
		width: 100%;
	}
}


@media (min-width: {{ site.breakpoint }}) {

	header h1 {
		padding-right: 2em;
	}

	header ul {
		flex-direction: row;
		flex-wrap: wrap;
		width: auto;
	}
}
