---
---

header{
	background: #231F20; 
}

main {

	flex-grow: 1;
	display: flex;
	flex-direction: column;

	#row-1 {
		display: flex;
		flex-direction: column;
		box-shadow: 0em 0.08em 0.08em 0.08em #5B5154;
	}

	#row-2 {
		display: flex;
		flex-direction: column;
	}

	#widgets {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: stretch;
		align-items: stretch;
		overflow: auto;
		background: #FFF;
		padding-left: 1em;

		& > div {
			flex-grow: 1;
			display: flex;
			min-height: 0;
			overflow: auto;

			&.feed {
				flex-direction: column;
			}

			iframe {
				flex-grow: 1;
			}
		}
	}


	#articles {
		display: flex;
		flex-direction: column;

		.feed-item_short-desc {
			display: none;
		}

		div:first-child {
			background-color: white;
		}
	}

	#feeds {
		display: flex;
		flex-direction: column;
		min-height: 0;

		img {
			float: left;
			width: 8em;
			height: 8em;
			margin: 0em  1em 0em 0em;
			border-radius: 3em;
			object-fit: cover;
			box-shadow: 0em 0.08em 0.08em 0.08em #5B5154;
		}
	}

	.feed-item {
		padding: 1em;
		background-size: cover;
		background-position: center center;
	}
}

@media (min-width: {{ site.breakpoint }}) {

	body {
		max-height: 100%;
	}

	main {
		overflow: hidden;

		#row-1 {
			flex-direction: row;
			flex-shrink: 0;
			height: 42%;
			box-shadow: 0em 0.08em 0.08em 0.08em #5B5154;

			a:link, a:visited, a:active {
				color:white;
			}
		}

		#row-2 {
			flex-direction: row;
			flex-shrink: 1;
			flex-grow: 1;
			min-height: 0;
		}

		#widgets {
			flex-grow: 1;
			flex-basis: 33%;
			height: 100%;
			flex-wrap: wrap;
			justify-content: flex-end;
			overflow: auto;
			max-height: none;
			background: #FFF;
			padding-left: 1.5em;
		}

		#articles {
			flex-grow: 1;
			flex-basis: 66%;
			height: 100%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
			overflow: hidden;

			& > div {
				min-width: 5em;
				flex-grow: 1;
				width: 50%;

				.feed-item_short-desc {
					display: block;
				}
				.feed-item_long-desc {
					display: none;
				}
			}

			& > div:first-child {
				flex-basis: 100%;

				.feed-item_short-desc {
					display: none;
				}
				.feed-item_long-desc {
					display: block;
				}
			}
		}

		#feeds {
			overflow-y: auto;
			justify-content: flex-start;
			flex-grow: 1;
		}

		#hero-graphic {
			font-size: 3em;
		}
	}
}