---
---

h2 {
  margin-top: 2em;
}

pre {
  overflow-x: auto;
  background-color: #eee;
  padding: 10px;
}

iframe {
  max-width: 100%;
}

main img {
  max-width: 100%;
}

.doc-subsection{
  margin: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.doc-subsection img{
  padding: .5em;
  max-width: 10em;
}

.icon-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
