---
---

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	height: 100%;
}

body {
	display: flex;
	margin: 0;
	flex-direction: column;
	font-family: 'Samsung One', Helvetica, Arial, sans-serif;
}

header ul {

    margin: 0;
    padding: 0;
    display: flex;
	flex-direction: column;

	li {
		list-style: none;
		margin: 0;
		display: inline-block;
		background: cornsilk;
		padding: 1em;
	}
}

main {

	flex-grow: 1;

	display: flex;
	flex-direction: column;

	#row-1 {
		display: flex;
		flex-direction: column;
	}

	#widgets {
		display: flex;
		flex-direction: column;
	}

	#articles {
		display: flex;
		flex-direction: column;

		div:first-child {
			background: lightpink;
		}
	}

	#feeds {
		background: cornflowerblue;
		display: flex;
		flex-direction: column;
	}
}

.feed-item {
	padding: 1em;
}

@media (min-width: 640px) {

	body {
		max-height: 100%;
	}

	header ul {
		flex-direction: row;
		flex-wrap: wrap;
	}
	main {

		#row-1 {
			flex-direction: row;
			flex-shrink: 0;
		}

		#widgets {
			flex-grow: 1;
			flex-basis: 33%;
			height: 42%;

			div {
				flex-grow: 1;
			}
		}

		#articles {
			flex-grow: 1;
			flex-basis: 66%;
			height: 42%;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
			overflow: hidden;

			& > div {
				min-width: 5em;
				flex-grow: 1;
				width: 50%;

				.feed-item_short-desc {
					display: block;
				}
				.feed-item_long-desc {
					display: none;
				}
			}

			& > div:first-child {
				flex-basis: 100%;

				.feed-item_short-desc {
					display: none;
				}
				.feed-item_long-desc {
					display: block;
				}
			}
		}

		#feeds {
			overflow-y: auto;
			justify-content: flex-start;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}