<div id="burger-menu" class="burger-menu_close" aria-label="submenu">
	<div id="menu-header">
		<img src="/images/sdevhublogod.svg" id="devhublogo" alt="Samsung Internet Developer Hub">
		<span class="hamburger" onclick="closeMenu()">×</span>
	</div>
	<div id="nav-links">
		<a href="/docs/">Documentation</a>
		<a href="https://medium.com/samsung-internet-dev/">Blog</a>
		<a href="https://github.com/samsungInternet/support/issues">Developer Support</a>
		<a href="https://pwas.samsunginter.net/">Demos</a>
	</div>
	<div id="socials">
		<a href="https://twitter.com/samsunginternet">
			<img src="/images/twitterlogo.svg" class="socialicon" alt="Twitter">
		</a>
		<a href="https://medium.com/samsung-internet-dev">
			<img src="/images/mediumlogo.svg" class="socialicon" alt="Medium">
		</a>
		<a href="https://github.com/samsunginternet">
			<img src="/images/githublogo.svg" class="socialicon" alt="GitHub">
		</a>
	</div>
</div>
<script src="/scripts/hamburger-helper.js" defer></script>
