<header>
	<a href="/"><img src="/images/SamsungInternetLogo.svg" alt="{{ site.name }}" class="headerLogo"/></a>
	<input id="hamburger-toggle" type="checkbox" />
	<label id="hamburger-toggle-label" for="hamburger-toggle" role="button" aria-label="toggle menu" tabindex="0"></label>
	<ul>
		<a href="/docs/"><li>Documentation</li></a>
		<a href="https://github.com/SamsungInternet/support/issues"><li>Developer Support</li></a>
		<a href="https://github.com/samsunginternet/support/issues"><li>Bug Tracker</li></a>
		<a href="https://pwas.samsunginter.net/"><li>Demos</li></a>
		<!--<a href="/"><li>Media</li></a>
		<a href="/"><li>Roadmap</li></a>
		<a href="/"><li>FAQ</li></a>-->
	</ul>
	<script src="/scripts/hamburger-helper.js" defer></script>
</header>
