
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#151213">
<link rel="icon" href="/images/sdevhubicon.png">
<link rel="manifest" href="/manifest.json">
<script src="scripts/hamburger-helper.js"></script>
<meta charset="UTF-8">
<title>{{site.name}}{% if page.title %} - {{page.title}}{% endif %}</title>
<link href="/style/global.css" rel="stylesheet" type="text/css">
<link href="/fonts/SamsungOne/fonts.css" rel="stylesheet" type="text/css">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
