<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#151213">
<link rel="icon" href="/images/sdevhubicon.png">
<link rel="manifest" href="/manifest.json">
<script src="/scripts/hamburger-helper.js"></script>
<meta charset="UTF-8">
<title>{{site.name}}{% if page.title %} - {{page.title}}{% endif %}</title>
<link href="/style/global.css" rel="stylesheet" type="text/css">
<link href="/fonts/SamsungOne/fonts.css" rel="stylesheet" type="text/css">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script>
<script src="/scripts/init-service-worker.js" async></script>

<meta http-equiv="cleartype" content="on" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@samsunginternet" />
<meta name="twitter:title" content="{{ page.title }} - {{site.name}}" />
<meta name="twitter:url" content="https://samsunginter.net{{ page.url }}" />{% if page.twitter_image %}
<meta name="twitter:image" content="{{ page.twitter_image }}">{% elsif page.image contains "http" %}
<meta name="twitter:image" content="{{ page.image }}">{% elsif page.image %}
<meta name="twitter:image" content="https://samsunginter.net{{ page.image }}">{% endif %}
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{% if page.long_desc %}{{ page.long_desc }}{% else %}{{ page.short_desc }}{% endif %}{% endif %}" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if page.long_desc %}{{ page.long_desc }}{% else %}{{ page.short_desc }}{% endif %}{% endif %}">
