<html>
<head>
	<meta charset="UTF-8">
	<title>{{site.name}}{% if page.title %} - {{page.title}}{% endif %}</title>
	<link href="/style/global.css" rel="stylesheet" type="text/css">
	<link href="/style/page.css" rel="stylesheet" type="text/css">
	<link href="/style/syntax-highlight.css" rel="stylesheet" type="text/css">
	<link href="/fonts/SamsungOne/fonts.css" rel="stylesheet" type="text/css">
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#231F20">
</head>
<body>
	{% include header.html %}
	<main>
		{{ content }}
	</main>
</body>
</html>
